.header {
  width: 100%;
  background: linear-gradient(
    #db7093,
    #db7093,
    50px,
    #800000 70%,
    #800000 100%
  );
  opacity: 0.7;

  &__title {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-family: serif;
    color: #f0f8ff;
    text-shadow: 0px 0px 5px;
    line-height: 1;
  }
}

.nav {
  display: flex;
  margin: 0;
  padding: 10px;
  list-style: none;

  &__item {
    width: 150px;
    text-align: center;
  }

  &__link {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffe0;
    font-family: serif;
    text-shadow: 1px 2px 2px;

    &:hover {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
