version: '3.7'

services:
  app:
    image: ruby:3.2.0
    working_dir: /app
    volumes:
      - ${PWD}:/app
      - bundle:/usr/local/bundle
    ports:
      - '3000:3000'
    environment:
      AWS_ACCESS_KEY_ID: dummy
      AWS_SECRET_ACCESS_KEY: dummy
    command: bundle exec rails s -b 0.0.0.0
  localstack:
    image: localstack/localstack:2.3.2
    ports:
      - '4566:4566'
    environment:
      SERVICES: s3,lambda,iam
  terraform:
    image: hashicorp/terraform:1.6.4
    volumes:
      - ./:/app
    working_dir: /app
    depends_on:
      - localstack

volumes:
  bundle:
