version: '3.7'

services:
  app:
    image: ruby:3.2.0
    working_dir: /app
    volumes:
      - ${PWD}:/app
      - bundle:/usr/local/bundle
    ports:
      - '3000:3000'
    environment:
      AWS_ACCESS_KEY_ID: dummy
      AWS_SECRET_ACCESS_KEY: dummy
    command: bundle exec rails s -b 0.0.0.0
  localstack:
    image: localstack/localstack:0.14.5
    ports:
      - '4566:4566'
    environment:
      SERVICES: s3
      DATA_DIR: /tmp/localstack/data
    volumes:
      - localstack:/tmp/localstack
  terraform:
    image: hashicorp/terraform:1.6.4
    volumes:
      - ./:/app
    working_dir: /app

volumes:
  bundle:
  localstack:
