<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>
  <p>
    <strong>Avatar:</strong>
    <% if user.avatar.present? %>
      <%= image_tag user.avatar.url %>
    <% end %>
  </p>
</div>
