<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>

<div x-data="{ count: 0 }">
  <button x-on:click="count++">inc</button>
  <span x-text="count"></span>
</div>
